# EditorConfig is awesome:
http://EditorConfig.org

# top-most EditorConfig file
root = true

# Default settings
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.fs]
max_line_length=130
fsharp_max_infix_operator_expression=100
fsharp_max_value_binding_width=100
fsharp_max_function_binding_width=60
fsharp_max_dot_get_expression_width=70
fsharp_multiline_bracket_style = experimental_stroustrup

[src/GymDiary.Api/Router.fs]
max_line_length=150
fsharp_max_infix_operator_expression=150
