# top-most EditorConfig file
root = true

# Default settings
[*]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 4
tab_width = 4
max_line_length = 130
insert_final_newline = true
trim_trailing_whitespace = true

[*.fs]
# Fantomas properties https://fsprojects.github.io/fantomas/docs/end-users/Configuration.html
fsharp_max_infix_operator_expression = 100
fsharp_max_value_binding_width = 100
fsharp_max_function_binding_width = 60
fsharp_max_dot_get_expression_width = 70
fsharp_multiline_bracket_style = experimental_stroustrup

[src/GymDiary.Api/Router.fs]
max_line_length = 150
fsharp_max_infix_operator_expression = 150

[*.json]
indent_size = 2

[*.{xml,csproj,fsproj,props,targets}]
indent_size = 2
ij_xml_space_inside_empty_tag = true

[*.{yml,yaml}]
indent_size = 2

[*.{http,rest}]
indent_size = 0
