# top-most EditorConfig file
root = true

# Default settings
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
tab_width = 4
max_line_length = 140
insert_final_newline = true
trim_trailing_whitespace = true

# Misc files
[*.{xml,csproj,fsproj,props,targets}]
indent_size = 2
ij_xml_keep_blank_lines = 1
ij_xml_space_inside_empty_tag = true

[*.{json,yml,yaml}]
indent_size = 2

[*.{http,rest}]
indent_size = 0

# F# code style rules
[*.fs]
# Fantomas properties https://fsprojects.github.io/fantomas/docs/end-users/Configuration.html
fsharp_keep_max_number_of_blank_lines = 1
fsharp_max_dot_get_expression_width = 70 # default = 80
fsharp_max_function_binding_width = 60 # default = 40
fsharp_max_infix_operator_expression = 100 # default = 80
fsharp_max_value_binding_width = 100 # default = 80
fsharp_multiline_bracket_style = stroustrup
fsharp_newline_before_multiline_computation_expression = false

# C# code style rules
[*.cs]
# Microsoft .NET properties https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true
csharp_style_namespace_declarations = file_scoped:warning
csharp_prefer_braces = true:suggestion

# Rider properties https://www.jetbrains.com/help/rider/EditorConfig_Index.html
resharper_csharp_keep_blank_lines_in_code = 1
resharper_csharp_braces_redundant = true
resharper_csharp_arguments_literal = named
resharper_csharp_arguments_skip_single = true
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_csharp_wrap_arguments_style = chop_if_long
resharper_member_can_be_private_global_highlighting = hint

# Code quality rules
[*.{fs,cs}]

# Microsoft .NET inspection severities https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/
dotnet_diagnostic.CS1591.severity = none # Missing XML comment for publicly visible type or member
dotnet_diagnostic.CA1848.severity = suggestion # Use the LoggerMessage delegates
dotnet_diagnostic.CA2201.severity = suggestion # Do not raise reserved exception types

# Rider inspection severities https://www.jetbrains.com/help/rider/EditorConfig_Index.html
# TBD

[**SystemTests**.cs]
dotnet_diagnostic.CA1707.severity = none # Identifiers should not contain underscores

inconsistent_naming_highlighting = hint